In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

## Text Processing and Dates

In [5]:
time_strs = (pd.Series(lines).str.split('[', 1, expand=True)[1]
             .str.split(' ', 1, expand=True)[0])
day_month_rest = time_strs.str.split('/', expand=True)
pd.concat([day_month_rest.loc[:, 0:1], 
           day_month_rest[2].str.split(':', expand=True)], axis=1)

    0    1     0   1   2   3
0  26  Jan  2014  10  47  58
1   2  Feb  2005  17  23   6
2   3  Feb  2006  10  18  37

## Regular Expressions